# Server Config
PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

# Supabase Transaction Pooler (Port 6543) - Used for the Express App operations
DATABASE_URL=postgresql://postgres:[_NuU6SmhmU$8szh]@db.aairdmqipurumxgjbucq.supabase.co:6543/postgres

# Supabase Direct Connection (Port 5432) - Used STRICTLY for migrations (node-pg-migrate)
DIRECT_DATABASE_URL=postgresql://postgres:[_NuU6SmhmU$8szh]@db.aairdmqipurumxgjbucq.supabase.co:5432/postgres

# Redis
REDIS_QUEUE_URL=redis://localhost:6379
REDIS_CACHE_URL=redis://localhost:6380
